{% extends 'plantillabase.html' %}

{% block title %}Detalle Producto{% endblock %}

{% block content %}

<div style="border: 1px solid #000000; border-radius: 8px; padding: 20px; margin-left: 20%; margin-top: 20px; margin-block-end: 20px; height: 80%; width: 60%;">
    <div class="row" style="border-radius: 8px; padding: 20px; height: 60%;">
        <div class="col-6">
            <div class="text-center ">
                <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}"
                    class="img-fluid rounded" style="height: 100%; width: 100%;">
            </div>
        </div>
        
        <div class="col-md-6">
            <div style="border: 1px solid #000000; border-radius: 8px; padding: 20px; margin: 30px; width: 90%;" class="shadow p-3">
                <h1>{{ producto.nombre }}</h1>
                <p>Disponibles: {{ producto.cantidad }}</p>
                <p>Precio: ${{ producto.precio }}</p>
                <div class="text-end">
                    <a href="{% url 'agregarC' producto.id %}?next={{ request.path }}" class="btn btn-primary ">Agregar
                        al Carrito</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <h1>Descripcion</h1>
        <p>{{ producto.descripcion }}</p>
    </div>
</div>

{% endblock %}