{% extends 'plantillabase.html' %}

{% block title %}inventario{% endblock %}

{% block content %}

<div style="margin: 2%;">

    <h2>Productos</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Cantidad Disponible</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.cantidad }}</td>
                <td><a href="{% url 'editarP' producto.id %}" class="btn btn-primary">Editar</a></td>
                <td>
                    <form action="{% url 'EliminarP' producto.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro que deseas eliminar este producto?');">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay producto en el inventario.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 col-4 mx-auto">
        <a href="{% url 'agregarP'%}" class="btn btn-success" style="justify-content: center;">Agregar Producto</a>
    </div>

</div>
{% endblock %}